# Секретные ключи и пароли (САМОЕ ВАЖНОЕ!)
.env

# Виртуальное окружение Python
venv/
.venv/
env/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc

# База данных SQLite (чтобы случайно не затереть рабочую базу пустым файлом)
*.db
seaoddity.db

# Системные папки редакторов кода (например, PyCharm или VS Code)
.idea/
.vscode/

# Папка с загруженными картинками (чтобы не тянуть весь архив фото на гитхаб)
static/images/